*.psd filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.indd filter=lfs diff=lfs merge=lfs -text
InDesign/shinosawa2-r1.indd filter=lfs diff=lfs merge=lfs -text
InDesign/shinosawa2-r2.indd filter=lfs diff=lfs merge=lfs -text
InDesign/shinosawa2-r3.indd filter=lfs diff=lfs merge=lfs -text
